extends layout

block content
  .content
      h1.title Phone Number Generator
      form.form
        .form-group
          button.c-btn.c-btn--primary(type="submit") Generate numbers
          input(type="number").num-input 
        p.help-text Enter a number between 1 and 500
      .table-container
        include table.pug

      
          
