doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito')
    link(rel="stylesheet", href="https://use.fontawesome.com/e42a9be8b9.css" media="all")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='javascripts/index.min.js')
  body
    .toast
      p.toast-text #{message}
    block content
