:root {
  font-size: 70%;
  --main-color: #009688;
  --disable-color: #2928285e;
  --margin: 5rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 1.6rem;
}

body {
  padding: 2rem;
  font-family: 'Nunito', sans-serif;
}

a {
  color: #00b7ff;
}

.title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: var(--margin);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80%;
  padding: 0 20rem;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--margin) 0;
}
.form-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.help-text {
  width: 40%;
  background: rgba(255, 0, 0, 0.1);
  color: #f44336;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  visibility: hidden;
}

.num-input {
  text-align: center;
  font-size: 3rem;
  width: 15rem;
}
.c-btn,
.num-input {
  outline-color: var(--main-color) !important;
}
.c-btn {
  font-size: 2rem;
  padding: 2.5rem;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
}
.c-btn--primary {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
}

.c-btn--disable {
  background-color: var(--disable-color);
  outline-color: var(--disable-color) !important;
  border-color: transparent;
  pointer-events: none;
}
.sort-icon {
  margin-left: 0.5rem;
  cursor: pointer;
}

.table-container {
  box-shadow: 1px 1px 70px 20px rgba(10, 10, 10, 0.04);
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
}

.table-header {
  width: 100%;
  display: flex;
  color: var(--main-color);
  padding: 0.5rem;
  align-items: flex-end;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.table-header-text {
  font-size: 1.5rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.error h1 {
  color: var(--main-color);
  font-size: 5rem;
}

.error p {
  font-size: 2.5rem;
}

.toast {
  min-height: 6rem;
  min-width: 40rem;
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  padding: 1.4rem;
  position: fixed;
  right: 5px;
  border-radius: 2px;
  transform: translateX(105%);
  transition: transform 0.3s cubic-bezier(0, 1.42, 1, 0.99);
}

.toast--show {
  transform: translateX(0%);
}

.toast-text {
  margin: 0;
  color: white;
}

thead {
  color: var(--main-color);
}

th,
td {
  text-transform: uppercase;
}
